html{
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header h1 {
    text-align: center;
}

body form {
    text-align: center;
    margin: 10vw;
    padding: 1vw;
    display: block;
    border: solid;
    border-color: rgb(35, 35, 136);
    border-width: 2em;
    border-radius:3em;
}

body form input {
    margin-bottom: 2%;
}

body form textarea {
    width: 90%;
    padding: 2%;
    border: solid;
    border-width: 1em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    resize: vertical;
    min-height: 20em;
    max-height: 40em;
}

body form input[type=submit] {
    border: none;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: rgb(35, 35, 136);
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;

}

body form input[type=submit]:hover{
    background-color: brown;

}
/*
body form input[type=button] {
    border: none;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;

}

body form input[type=button]:hover{
    background-color: brown;

}
*/